# IntelliJ
*.iml
lab01_1/.idea/*
lab01_2a/.idea/*
lab01_2a/.idea
lab01_2b/.idea
lab01_2b/.idea/*
lab01_2c/.idea
lab01_2c/.idea/*
lab02_1/.idea
lab02_1/.idea/*
lab02_2/.idea
lab02_2/.idea/*
lab02_3/.idea
lab02_3/.idea/*
lab02_4/.idea
lab02_4/.idea/*
lab03_1/.idea
lab03_1/.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
